<!DOCTYPE html>
<html lang="en" id="theme" class="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="static/assets/images/auction-fevicon.png">
    <title>Bidzone - Online auction and bidding HTML template</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="static/assets/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="static/assets/css/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="static/assets/css/responsive.css" type="text/css">
    <style>


    </style>
        <script LANGUAGE="Javascript" >
            function validate(){
                var x=document.forms["f1"]["t1"].value;
                var y=document.forms["f1"]["t2"].value;
                if(x == null || x==""){
                    window.alert("Username must be enter");
                    document.f1.t1.focus();
                    return false;
                }
                if(y == null || y==""){
                    window.alert("Password must be entered");
                    document.f1.t2.focus();
                    return false;
                }
                return true;
            }
                    
                
                </script>
</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader bg-light" id="preloader">
        <span class="preloader-inner"></span>
    </div>
    <!-- Preloader End -->
    <!-- Back-to-top Start -->
    <a href="javascript:void(0)" class="back-to-top"><i class="fa-solid fa-up-long"></i></a>
    <!-- Back-to-top End -->
    <!-- Header Start !-->
    <div class="navbar-top border-bottom py-3 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="d-flex gap-2">
                        <div class="d-none align-items-center gap-1 nav-top-left">
                            <i class="fa-solid fa-envelope text-dark"></i>
                            <p class="fs-14 text-dark text-truncate"></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="toggle-theme">
                        <input type="checkbox" id="changeTheme1" class="changeTheme" value="0">
                        <label for="changeTheme1" class="m-auto"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="bg-white">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                
                <div class="nav-right justify-content-center" id="navbar">
                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">Bidder Login</a>
                            <ul class="sub-menu">
                                <li><a href="BidderSignup">SignUp</a></li>
                                <li><a href="BidderLogin">SignIn</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="promotion-link nav-link text-dark new-toggle" href="javascript:void(0)">Seller Login</a>
                            <ul class="sub-menu">
                                <li><a href="SellerSignup">SignUp</a></li>
                                <li><a href="SellerLogin">SignIn</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="AdminLogin">Admin Login</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-block d-lg-none">
                       
                        <li>
                            <hr>
                        </li>

                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex gap-2 nav-btn-group align-items-center justify-content-center">
                                <button class="bg-transparent text-dark border-0">
                                    <i class="fa-solid fa-search"></i>
                                </button>
                                <a href="login.html" class="bg-transparent text-dark border-0 px-1">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <button class="bg-transparent text-dark border-0"><i
                                        class="fa-solid fa-heart"></i></button>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="toggle-theme">
                                <input type="checkbox" class="changeTheme" id="changeTheme" value="0">
                                <label for="changeTheme" class="me-auto"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-1 nav-btn-group align-items-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="nav-right" data-bs-target="#navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggle-menu-icon"><span></span><span></span><span></span><span></span></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End !-->
    <!-- Main Content Start !-->
    <main id="main-content" class="position-relative">
        <section class="banner overflow-hidden" id="current-image" style="background-image: url();">
            <div class="container position-relative">
                <div class="row align-items-center justify-content-center gy-4">
                    <div class="col-xl-7">
                        <div class="banner-left">
                            <h1 class="banner-title">Join exclusive auction & Get the
                                finest.</h1>
                            
                        </div>
                    </div>
                    <div class="col-11 col-md-8 col-xl-5">
                        <div class="swiper banner-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="banner-card position-relative">
                                        <img src="static/assets/images/auction-product-1.png" alt="banner-bid">
                                        <div class="banner-card-disc">
                                            <a href="">vintage luxurious house</a>
                                            <p>$350.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-card position-relative">
                                        <img src="static/assets/images/auction-product-2.png" alt="banner-bid">
                                        <div class="banner-card-disc">
                                            <a href="">Final match 2022 Shuttlecock and racket</a>
                                            <p>$350.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-card position-relative">
                                        <img src="static/assets/images/auction-product-3.png" alt="banner-bid">
                                        <div class="banner-card-disc">
                                            <a href="">16th-century culverin cannon</a>
                                            <p>$350.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-card position-relative">
                                        <img src="static/assets/images/auction-product-4.png" alt="banner-bid">
                                        <div class="banner-card-disc">
                                            <a href="">Vintage Hand Carved Wood Camel Stand </a>
                                            <p>$350.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-card position-relative">
                                        <img src="static/assets/images/auction-product-13.png" alt="banner-bid">
                                        <div class="banner-card-disc">
                                            <a href="">Most famous Skirt piece of celebrities</a>
                                            <p>$350.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <center>
            <form name="f1" method="post" action='/AdminLogin' enctype="multipart/form-data" OnSubmit="return validate()">
               
               <font size="" color="red"><center>Admin Login</center></font>
               
               <font size="" color="red"><center>{{ data|safe }}</center></font>
                              
                              <table align="center" width="80" >
                    <tr><td><font size="" color="black">Username</font></td><td><input type="text" name="t1" style="font-family: Comic Sans MS" size="20"/></td></tr>

                    <tr><td><font size="" color="black">Password</font></td><td><input type="password" name="t2" style="font-family: Comic Sans MS" size="20"/></td></tr>
    
                    
                  
                           
                     <tr><td></td><td><input type="submit" value="Login Admin">
                     </td>
                     </table>
                     <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>	
                           
                        </div>
            </form>
    
        </center>    

        
    </main>

    <!-- Footer End !-->

    <!-- JavaScript Libraries -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/swiper.min.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        var swiper = new Swiper(".categorySwiper", {
            spaceBetween: 32,
            autoplay: {
                delay: 1000,
            },
            breakpoints: {
                450: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                992: {
                    slidesPerView: 4,
                },
                1400: {
                    slidesPerView: 6,
                },
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        const mySwiper = new Swiper('.banner-slider', {
            effect: "cards",
            grabCursor: true,
            slidesPerView: 1,
            autoplay: {
                delay: 2000,
            },
        });


        var x = 0;
        var y = 1;
        var currentActiveSlide = $('.swiper-slide-active .banner-card img').attr('src');
        $('#current-image').css('background-image', `url(${currentActiveSlide})`);

        mySwiper.on('slideChange', function (e) {
            x = e.activeIndex;
            if (y <= x) {
                var currentActiveSlide = $('.swiper-slide-next .banner-card img').attr('src');
                $('#current-image').css('background-image', `url(${currentActiveSlide})`);
            }
            else {
                var currentActiveSlide = $('.swiper-slide-prev .banner-card img').attr('src');
                $('#current-image').css('background-image', `url(${currentActiveSlide})`);
            }
            y = x;
        });


    </script>
</body>

</html>